@media screen and (max-width: 450px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }
    /* ANIMAÇÕES MOBILE */
    .bouncing {
        animation: Bouncing 1s alternate cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
    }
    @keyframes Bouncing {
        from {
            transform: translateY(-15px);   
        }
        to {
            transform: translateY(2px);
        }
    }

    @keyframes SlideLeft {
        to{
            width: 250px;
            border-radius: 12px;
        }
    }
    @keyframes SlideRight {
        to{
            width: 250px;
            border-radius: 12px;
            
        }
    }
    /* --------------------------------------------------------------- */
    /* SEÇÃO INTRODUÇÃO */
    .aside {
        display: none;
    }
    .bg-introducao{
        background-position: center center;
    }
    .introduco {
        width: 200px;
    }
    .nome {
        font-size: 50px;
        margin: 0 auto;
    }
    .dev {
        font-size: 40px;
        margin: 30px 0 0 50px;
    }
    .sobre {
        width: 300px;
    }
    /* SEÇÃO TECS */
    .container-tecs {
        display: grid;
        width: 200px;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(5, 100px);
        gap: 10px 50px; 
        margin-right: 50px;
    }
    .container-tecs:nth-child(1) {
        grid-column-start: 1;
    }
    .js {
        animation-delay: 100ms;
    }
    .container-tecs:nth-child(2) {
        animation-delay: 300ms;
    }
    .css {
        animation-delay: 200ms;
    }
    .react {
        animation-delay: 480ms;
    }
    .container-tecs:nth-child(5) {
        animation-delay: 390ms;
    }
    .node {
        animation-delay: 450ms;
    }
    .fig {
        animation-delay: 450ms;
    }
    .py {
        animation-delay: 480ms;
    }

    .controleMobile{
        display: inline;
    }
    .details-tec {
        width: 100px;
        display: none;
    }
    .tec-details{
        width: 300px;
        padding-right: 30px;
    }
    .tec {
        height: 70px;
        margin: 30px 0;
        flex-direction: column;
        align-items: center;
    }
    .tec:hover {
        border: none;
    }
    .icon {
        width: 60px;
        height: 70px;
        margin: 5px 10px;
    }
    .tec-git, .tec-css {
        margin-right: 10px;
    }
    .tecs-titulo {
        padding: 0;
        margin-left: 12%;
        padding-top: 20px;
    }
    /* SEÇÃO FORMACAO */
    .bg-formacao {
        min-width: 98vw;
        width: 100%;
    }
    .formacao {
        font-size: 20px;
        width: 200px;
    }
    /* SEÇÃO SOBRE */
    .paragrafo {
        width: 300px;
        font-size: 20px;
        font-weight: 800;
    }
    .sobre, .tecs-titulo {
        font-size: 36px;
    }
    .sobre{
        margin-bottom: 30px;
    }
    .contatos-respo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        height: 70px;
    }
    .bg-servicos{
        flex-direction: column;
    }
    .bg-servicos .titulo {
        font-size: 40px;
        margin-left: 30%;
    }
    .servicos{
        flex-direction: column;
    }
    .landing,.ecommerce{
        width: 50px;
        height: 120px;
        padding: 20px;
    }
}
