/* Estilo Geral */
body {
    color: white;
    /* text-transform: capitalize; */
    font-family: Arial, Helvetica, sans-serif;
}


/* Estilo da Barra de Rolagem */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 30px;
}

.titulo{
    text-transform: capitalize;
    font-size: 55px;
}


/* ANIMAÇÕES  */
/* @keyframes UpDown {
    from{
        background-color:rgb(15, 15, 20)  ;
    }
    to{
        background-color:rgba(14, 11, 11, 0.897) ;
    } 
}*/

@keyframes TextLoad {
    
        0%{
            width: 0;
        }
    
}
/*  */
/* Estilo da Barra Lateral (Aside) */
.aside {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    backdrop-filter: blur(10px);
}

.aside > .a {
    text-decoration: none;
    color: white;
    border-radius: 4px;
    margin: 10px 50px 10px 10px;
}

.aside > .gh {
    margin-left: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.aside > .in {
    margin-left: 0;
}
.aside .a:hover{
    background-color: blue;
    box-shadow: 0 0 5px blue;
    transition: 200ms;
    transform: scale(1.1);
}
/* Estilo da Introdução */
.bg-introducao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/66/29/ac/6629ac69eee96adbe0880b4f06afdc26.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.introducao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
}

.nome {
    font-size: 80px;
    margin: -180px 0 0 250px;
}

.dev {
    font-size: 55px;
    margin-top: 80px;
}

/* Estilo das Tecnologias */
.bg-tecs {
    min-height: 100vh;
    background-image: linear-gradient(90deg, #2b2323, rgb(15, 15, 20));
}

.tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, rgb(19, 12, 12), rgb(17, 8, 8));
    height: 100vh;
}

.tecs-titulo {
    font-size: 55px;
    margin-bottom: 100px;
}

.container-tecs {
    margin: 30px 0;
    display: flex;
}

.tec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 30px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.details-tec{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 200px;
    margin-top: 30px;
    background-color: red;
    border-radius: 8px;
}
.tec-details{
    background-color: blue;
    width: 100%;
    height:100% ;
    border-radius: inherit;
}
.nome-tec-titulo{
    font-size: 30px;
}
.nome-tec {
    margin-left: 10px;
}

.icon {
    color: white;
    height: 70px;
    object-fit: contain;
}


/* Estilo da Seção Formação */
.bg-formacao{
    background-color:rgb(14, 11, 11);
    /* animation: UpDown 2s linear infinite; */
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formacao-titulo{
    font-size: 55px;
    margin-top: 180px;
}
.formacao{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.alinhamento{
    margin-bottom: 80px;
}
.escola,.laert,.eurofarma,.senai{
    margin: 38px 0;
}
/* Estilo da Seção Sobre Mim */
.bg-sobre {
    height: 100vh;
    background-image: linear-gradient(45deg, #2b2323, rgb(15, 15, 20));
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
}

.sobre {
    font-size: 55px;
    margin-bottom: 100px;
}

.paragrafo {
    word-spacing: 7px;
    line-height: 30px;
    width: 800px;
    font-size: 30px;
    /* animation: TextLoad 3s steps(349) forwards; */
    /* color: black; */
}
.contatos-respo{
    display: none;
}
